:root {
	--bg: #f7f7f7;
	--bg-2: #e4e4e4;
	--txt: #222222;
	--primary: #ffff01;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	scrollbar-width: thin;
	scrollbar-color: var(--bg-3) transparent;
	scrollbar-gutter: stable;
}

body {
	background: var(--bg);
	color: var(--txt);
	margin: 0;
	font-family: 'Outfit', sans-serif;
	font-style: normal;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
	line-height: 1.3;
}

p {
	line-height: 1.5;
	font-size: 1.1rem;
}

ul {
	font-size: 1.1rem;
}

li {
	margin: 0.5rem 0;
}

button {
	border: none;
	font: inherit;
	color: inherit;
	background: none;
	padding: 0;

	&:hover {
		cursor: pointer;
	}
}
