:root {
	--bg: #f7f7f7;
	--bg-2: #dfdfdf;
	--txt: #222222;
	--primary: #ffff01;
}

* {
	box-sizing: border-box;
}

html {
	scrollbar-width: thin;
	scrollbar-color: var(--bg-3) transparent;
	scrollbar-gutter: stable;
}

body {
	background-color: var(--bg);
	color: var(--txt);
	margin: 0;
	font-family: 'Outfit Variable', sans-serif;
	font-style: normal;
	font-weight: 300;
}

.page {
	margin: auto;
	max-width: 55rem;
	padding: 0rem 2rem;
	flex: 1;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
	line-height: 1.3;
}

h1 {
	font-size: 2.5rem;
	margin: 3rem 0 2rem 0;
}

h2 {
	font-size: 1.75rem;
	margin: 2rem 0 1.25rem 0;
}

h3 {
	font-size: 1.25rem;
	margin: 1.5rem 0 1rem 0;
}

h4 {
	font-size: 1.125rem;
	margin: 1.5rem 0 1rem 0;
}

p {
	line-height: 1.5;
	font-size: 1.125rem;
	margin: 1rem 0;
}

ul,
ol {
	font-size: 1.125rem;
}

li {
	margin: 0.5rem 0;
}

b {
	font-weight: 600;
}

a {
	color: inherit;
}

button {
	border: none;
	font: inherit;
	color: inherit;
	background: none;
	padding: 0;

	&:hover {
		cursor: pointer;
	}
}

.box {
	background-color: var(--bg);
	padding: 1.75rem;
	@include border;

	h2 {
		font-size: 1.5rem;
		margin: 0;
	}
}
